<footer>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="social-media"><img height="50px" width="50px" src="../../assets/Social Media/iconfinder_Rounded_Facebook_svg_5282541.png"  alt=""></div>
            <div class="social-media"><img height="50px" width="50px" src="../../assets/Social Media/icons8-tiktok-512.png" alt=""></div>
            <div class="social-media"><img height="50px" width="50px" src="../../assets/Social Media/iconfinder_Rounded_Instagram_svg_5282544.png" alt=""></div>
            <div class="social-media"><img height="50px" width="50px" src="../../assets/Social Media/iconfinder_Rounded_Twitter5_svg_5282551.png" alt=""></div>
        </div>
    </div>
</footer>