
.navbar{
    background-color: white;
    font-family: 'Compact Light';
    border-bottom:5px solid #bb0f55;
}

.navbar a{
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    
}
.navbar-brand{
    line-height: 5px;
    
    color: #591937;
    font-weight: 800;
}


#subext{
    font-size: large;
    color: #591937;
    
}

#subtext span{
    
    color: #591937;
    -webkit-text-fill-color:white;
    
}

#subtext:hover{
    color: #591937;
    -webkit-text-fill-color:#591937;
}


.maintext{
    color: #591937;
}


.logo:hover img{
    src: url('../../assets/logo/Site_logo_fill.png');
}

