p{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 11pt;
}

H3{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: white;
    cursor: pointer;
    
}

.cherry{
    background-color: #bb0f55;
}

.yellowish{
    background-color: #ffd151;
}

.darkmaroon{
    background-color: #591937;
}

.isthischerry{
    background-color: #8e2857;
}