p{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 11pt;
}

H3{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background-color: #ffd151;
}