p{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 11pt;
}

H2{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 28pt;
    text-align: center;
}

.card{
    box-shadow: 5px 5px 3px grey;
}