<img src="../../assets/stock/pexels-pixabay-210307.jpg" class="img-fluid" >
<H3 class="mt-3">Hey Bearcats!</H3>
<p>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, enim provident. Officiis ullam velit rem dicta, reiciendis ipsum quisquam inventore iste amet minus corrupti magnam saepe doloremque corporis labore veniam? Repellendus nemo id adipisci? Rerum, animi vero, architecto mollitia minus est neque magnam dicta error, natus similique aspernatur maiores! Doloremque aut modi accusantium libero error, fugiat nemo dignissimos doloribus itaque necessitatibus labore facilis autem numquam nesciunt nulla corrupti! Eveniet aspernatur eius dolorum voluptatem accusamus hic sunt aut placeat nisi dolores quam aliquid, quos natus, excepturi adipisci recusandae non asperiores facere corrupti itaque! Vero dignissimos maxime magni sequi modi id ut?
</p>

<img src="../../assets/stock/pexels-kelly-lacy-3030268.jpg" class="img-fluid">